<mat-card>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        Logged in as: {{ (auth.$authUser | async)?.email }}
        <span class="spacer"></span>
        <button mat-stroked-button color="warn" (click)="auth.logOut()">Log out</button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <b>General Configuration</b>
      </mat-list-item>
      <mat-list-item class="list-item--form-field">
        <mat-form-field class="input-full-width">
          <mat-label>Default Text</mat-label>
          <input matInput aria-label="Standard Text" [value]="user.stdText" (change)="auth.updateUser({stdText: $event.target.value})">
          <mat-icon matSuffix matTooltip="Default text for new time slots" [matTooltipPosition]="'left'">
            help
          </mat-icon>
        </mat-form-field>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <b>REST Api</b>
        <span class="spacer"></span>
        <mat-slide-toggle [color]="'primary'" [checked]="user.apiEnabled" (change)="auth.updateUser({apiEnabled: $event.checked})"></mat-slide-toggle>
      </mat-list-item>
      <div *ngIf="user.apiEnabled">
        <mat-list-item>
          <h3 matLine>URL:</h3>
          <code matLine>https://us-central1-rest2zep.cloudfunctions.net/rest2zep</code>
        </mat-list-item>
        <mat-list-item>
          <h3 matLine>Services:</h3>
          <code matLine>/api/v1/users/{{auth.uid}}/start</code>
          <code matLine>/api/v1/users/{{auth.uid}}/end</code>
        </mat-list-item>
        <mat-list-item>
          <h3 matLine>Authentication (BasicAuth):</h3>
          <span matLine>Username: <code>{{auth.uid}}</code></span>
          <span matLine>Password: <code>{{user.apiToken}}</code></span>
        </mat-list-item>
        <mat-list-item>
          <span class="spacer"></span>
          <button mat-stroked-button color="primary" (click)="auth.generateNewToken()">
            Generate new Token
          </button>
        </mat-list-item>
      </div>
      <mat-divider></mat-divider>
      <mat-list-item>
        <b>ZEP Schnittstelle</b>
        <span class="spacer"></span>
        <mat-slide-toggle [color]="'primary'" [checked]="user.zepEnabled" (change)="auth.updateUser({zepEnabled: $event.checked})"></mat-slide-toggle>
      </mat-list-item>
      <div *ngIf="user.zepEnabled">
        <mat-list-item class="list-item--form-field">
          <mat-form-field class="input-full-width">
            <mat-label>ZEP Token</mat-label>
            <input matInput aria-label="ZEP Token" [value]="user.zepToken" (change)="auth.updateUser({zepToken: $event.target.value})">
          </mat-form-field>
        </mat-list-item>
        <mat-list-item class="list-item--form-field">
          <mat-form-field class="input-full-width">
            <mat-label>ZEP User</mat-label>
            <input matInput aria-label="ZEP User" [value]="user.zepUser" (change)="auth.updateUser({zepUser: $event.target.value})">
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field class="input-full-width">
            <mat-label>Default Project</mat-label>
            <mat-select [value]="user.stdZepProjekt" (selectionChange)="auth.updateUser({stdZepProjekt: $event.value})">
              <mat-option *ngFor="let project of user.zepProjekte" [value]="project.name">{{ project.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field class="input-full-width">
            <mat-label>Default Vorgang</mat-label>
            <mat-select [value]="user.stdZepVorgang" (selectionChange)="auth.updateUser({stdZepVorgang: $event.value})">
              <mat-option *ngFor="let v of vorgang" [value]="v">{{ v }}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          Export timeslots automatically
          <span class="spacer"></span>
          <mat-slide-toggle [color]="'primary'" [checked]="user.zepAutoExport" (change)="auth.updateUser({zepAutoExport: $event.checked})"></mat-slide-toggle>
        </mat-list-item>
      </div>
    </mat-list>
  </mat-card-content>
  <mat-card-actions class="align-right">
    <button mat-raised-button color="primary" routerLink="/main">Back</button>
  </mat-card-actions>
</mat-card>

