<mat-card *ngIf="!waitingAfterRedirect; else redirecting">
  <mat-card-content>
    <p>
      Welcome to the time tracker app.<br>
      Track your working hours with a single button!
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="auth.logIn()">Login with Google</button>
  </mat-card-actions>
</mat-card>

<ng-template #redirecting>
  <mat-card>
    <mat-card-content>
      <p>
        Loging in, you will be redirected to the main page shortly...
      </p>
    </mat-card-content>
  </mat-card>
</ng-template>
