<mat-list-item>
  <span matLine>
    {{ timeSlot.startTime | date:'dd.MM.yyyy' }}, {{ timeSlot.startTime | date:'HH:mm' }} - {{ timeSlot.endTime | date:'HH:mm' }}
  </span>
  <span matLine>
    {{ timeSlot.text }}
  </span>
  <span matLine>
    {{ timeSlot.project }} - {{ timeSlot.vorgang }}
  </span>
  <button mat-icon-button [disabled]="timeSlot.exported">
    <mat-icon *ngIf="timeSlot.exported" class="done">done</mat-icon>
    <mat-icon *ngIf="!timeSlot.exported">sync</mat-icon>
  </button>
</mat-list-item>
<mat-divider></mat-divider>
